{% extends "base.html"%}
{% block content%}
{% load static %}


<div class="container-fluid">
    <div class="row ">

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Coros</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.0.nombre}} </h5>
                    <p class="card-text">
                        Direccion : {{form.0.direccion}} <br>
                        Dependendencia: {{form.0.depende_de}} <br>
                        Email : {{form.0.email}}
                        <a class="nav-link" rel="stylesheet" href="{{form.0.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Telefono: {{form.0.telefono}}</div>
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Coros</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.1.nombre}} </h5>
                    <p class="card-text">
                        Direccion : {{form.1.direccion}} <br>
                        Dependendencia: {{form.1.depende_de}} <br>
                        Email : {{form.1.email}}
                        <a class="nav-link" rel="stylesheet" href="{{form.1.link}}"> Mas Info</a>

                    </p>
                </div>
                <div class="card-footer">Telefono: {{form.1.telefono}}</div>
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Coros</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.2.nombre}} </h5>
                    <p class="card-text">
                        Direccion : {{form.2.direccion}} <br>
                        Dependendencia: {{form.2.depende_de}} <br>
                        Email : {{form.2.email}}
                        <a class="nav-link" rel="stylesheet" href="{{form.2.link}}"> Mas Info</a>

                    </p>
                </div>
                <div class="card-footer">Telefono: {{form.2.telefono}}</div>
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Coros</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.3.nombre}} </h5>
                    <p class="card-text">
                        Direccion : {{form.3.direccion}} <br>
                        Dependendencia: {{form.3.depende_de}} <br>
                        Email : {{form.3.email}}
                        <a class="nav-link" rel="stylesheet" href="{{form.3.link}}"> Mas Info</a>

                    </p>
                </div>
                <div class="card-footer">Telefono: {{form.3.telefono}}</div>
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Coros</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.4.nombre}} </h5>
                    <p class="card-text">
                        Direccion : {{form.4.direccion}} <br>
                        Dependendencia: {{form.4.depende_de}} <br>
                        Email : {{form.4.email}}
                        <a class="nav-link" rel="stylesheet" href="{{form.4.link}}"> Mas Info</a>

                    </p>
                </div>
                <div class="card-footer">Telefono: {{form.4.telefono}}</div>
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Coros</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.5.nombre}} </h5>
                    <p class="card-text">
                        Direccion : {{form.5.direccion}} <br>
                        Dependendencia: {{form.5.depende_de}} <br>
                        Email : {{form.5.email}}
                        <a class="nav-link" rel="stylesheet" href="{{form.5.link}}"> Mas Info</a>

                    </p>
                </div>
                <div class="card-footer">Telefono: {{form.5.telefono}}</div>
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Coros</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.6.nombre}} </h5>
                    <p class="card-text">
                        Direccion : {{form.6.direccion}} <br>
                        Dependendencia: {{form.6.depende_de}} <br>
                        Email : {{form.6.email}}
                        <a class="nav-link" rel="stylesheet" href="{{form.6.link}}"> Mas Info</a>

                    </p>
                </div>
                <div class="card-footer">Telefono: {{form.6.telefono}}</div>
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Coros</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.7.nombre}} </h5>
                    <p class="card-text">
                        Direccion : {{form.7.direccion}} <br>
                        Dependendencia: {{form.7.depende_de}} <br>
                        Email : {{form.7.email}}
                        <a class="nav-link" rel="stylesheet" href="{{form.7.link}}"> Mas Info</a>

                    </p>
                </div>
                <div class="card-footer">Telefono: {{form.7.telefono}}</div>
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Coros</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.8.nombre}} </h5>
                    <p class="card-text">
                        Direccion : {{form.8.direccion}} <br>
                        Dependendencia: {{form.8.depende_de}} <br>
                        Email : {{form.8.email}}
                        <a class="nav-link" rel="stylesheet" href="{{form.8.link}}"> Mas Info</a>

                    </p>
                </div>
                <div class="card-footer">Telefono: {{form.8.telefono}}</div>
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Coros</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.9.nombre}} </h5>
                    <p class="card-text">
                        Direccion : {{form.9.direccion}} <br>
                        Dependendencia: {{form.9.depende_de}} <br>
                        Email : {{form.9.email}}
                        <a class="nav-link" rel="stylesheet" href="{{form.9.link}}"> Mas Info</a>

                    </p>
                </div>
                <div class="card-footer">Telefono: {{form.9.telefono}}</div>
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Coros</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.10.nombre}} </h5>
                    <p class="card-text">
                        Direccion : {{form.10.direccion}} <br>
                        Dependendencia: {{form.10.depende_de}} <br>
                        Email : {{form.10.email}}
                        <a class="nav-link" rel="stylesheet" href="{{form.10.link}}"> Mas Info</a>

                    </p>
                </div>
                <div class="card-footer">Telefono: {{form.10.telefono}}</div>
            </div>
        </div>

    </div>
</div>





{% endblock %}
