{% extends "base.html"%}
{% block content%}
{% load static %}

<div>{{form.0.descripcion}}</div>

<div class="container-fluid">
    <div class="row ">

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.0.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.0.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.0.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.1.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.1.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.1.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.2.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.2.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.2.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.3.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.3.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.3.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.4.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.4.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.4.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.5.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.5.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.5.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.6.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.6.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.6.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.7.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.7.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.7.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.8.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.8.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.8.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.9.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.9.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.9.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.10.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.10.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.10.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.11.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.11.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.11.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.12.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.12.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.12.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.13.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.13.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.13.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.14.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.14.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.14.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.15.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.15.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.15.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.17.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.17.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.0.depende_de}}</div>
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Programas desarrollo cultural y creativo</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.17.nombre}} </h5>
                    <p class="card-text">
                        <a class="nav-link" rel="stylesheet" href="{{form.17.link}}"> Mas Info</a>
                    </p>
                </div>
                <div class="card-footer">Depende de: {{form.17.depende_de}}</div>
            </div>
        </div>
    </div>
</div>


{% endblock %}