{% extends "base.html"%}
{% block content%}
{% load static %}
{{form.0.documento}}
<div class="container-fluid">
    <div class="row ">

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Tramites</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.0.titulo}} </h5>
                    <p class="card-text">
                        {{form.0.bajada}} <br>
                        
                    </p>
                </div>
                
            </div>
        </div>

        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Tramites</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.1.titulo}} </h5>
                    <p class="card-text">
                         {{form.1.bajada}} <br>
                        
                    </p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-2 tam">
                <div class="card-header">Tramites</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.2.titulo}} </h5>
                    <p class="card-text">
                         {{form.2.bajada}} <br>
                        
                    </p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Tramites</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.3.titulo}} </h5>
                    <p class="card-text">
                         {{form.3.bajada}} <br>
                        
                    </p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Tramites</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.4.titulo}} </h5>
                    <p class="card-text">
                         {{form.4.bajada}} <br>
                        
                    </p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Tramites</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.5.titulo}} </h5>
                    <p class="card-text">
                         {{form.5.bajada}} <br>
                        
                    </p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Tramites</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.6.titulo}} </h5>
                    <p class="card-text">
                         {{form.6.bajada}} <br>
                        
                    </p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-6 p-2  d-flex justify-content-center">
            <div class="card text-center border border-primary shadow-0 tam">
                <div class="card-header">Tramites</div>
                <div class="card-body">
                    <h5 class="card-title"> {{form.7.titulo}} </h5>
                    <p class="card-text">
                         {{form.7.bajada}} <br>
                        
                    </p>
                </div>
                
            </div>
        </div>
        
    </div>
</div>



{% endblock %}